# systemd service for the mangOH Sun Run app when packaged in a Docker container

[Unit]
Description=mangOH Sun Run Docker Container
After=docker.service
Wants=network-online.target docker.socket
Requires=docker.socket

[Service]
Restart=always
ExecStartPre=-/usr/bin/docker network create iotlabs
ExecStartPre=/bin/bash -c "/usr/bin/docker container inspect mangoh-sun-run 2> /dev/null || /usr/bin/docker run -d --name mangoh-sun-run --net iotlabs -v /root/sun_run_settings.py:/app/sun_run_settings.py mangoh_sun_run"
ExecStart=/usr/bin/docker start -a mangoh-sun-run
ExecStop=/usr/bin/docker stop -t 10 mangoh-sun-run

[Install]
WantedBy=multi-user.target
