# systemd service for the mangOH Sun Run app when packaged in a Docker container

[Unit]
Description=mangOH Sun Run Docker Container
After=docker.service
Wants=network-online.target docker.socket
Requires=docker.socket

[Service]
Restart=always
ExecStartPre=/bin/bash -c "/usr/bin/docker container inspect mangoh_sun_run 2> /dev/null || /usr/bin/docker run -d --name mangoh_sun_run -p 80:8050 -v /root/sun_run_settings.py:/app/sun_run_settings.py mangoh_sun_run"
ExecStart=/usr/bin/docker start -a mangoh_sun_run
ExecStop=/usr/bin/docker stop -t 10 mangoh_sun_run

[Install]
WantedBy=multi-user.target
