dash==0.39.0
dash-html-components==0.14.0
dash-core-components==0.44.0
dash-bootstrap-components==0.3.5
dash-table==3.6.0
dash-daq==0.1.0
requests==2.21.0
plotly==3.7.0
Flask==1.0.2
Flask-Caching==1.6.0

# WSGI HTTP server for deployment
gunicorn==19.9.0
